body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.navbar {
    margin-bottom: 20px;
    background-color: #e3f2fd;
    color: white;
}

.navbar-brand {
    font-size: 24px;
    color: white;
}

section {
    max-width: 600px;
    margin: 0 auto;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    margin-bottom: 20px;
}

.card-header {
    background-color: #e3f2fd;
    color: black;
    border-radius: 10px 10px 0 0;
    padding: 15px;
}

.card-body {
    padding: 20px;
}

.card-title {
    margin-bottom: 15px;
    font-size: 18px;
    color: #343a40;
}

.card-text {
    font-size: 16px;
    color: #495057;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.form-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-section label {
    font-weight: bold;
}

.form-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

#nothing {
    text-align: center;
    font-size: 18px;
    color: #6c757d;
    margin-top: 20px;
}